<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-light">
  <!-- Feed Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Nearby Tab -->
  <ion-tab title="Nearby" icon-off="ion-ios-location-outline" icon-on="ion-ios-location-outline" href="#/tab/nearby">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>

  <!-- Chart Tab -->
  <ion-tab title="Chart" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/chart">
    <ion-nav-view name="tab-chart"></ion-nav-view>
  </ion-tab>

  <!-- Me Tab -->
  <ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>

</ion-tabs>

